{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Photomaton</title>
</head>
<body>
  <div class="cadre">
    <img id="photo" src="{% static 'camera-ar.png' %}" alt="">
    <h2>Prendre une photo</h2>
  </div>
</body>
<script>
    window.addEventListener("keydown", function (event) {
      if (event.key == " ") {
        alert("L'utilisateur a appuyé sur la touche espace");
      }
    });
</script>
</html>